<html>

<body>
    <div>
        <form method="post">
            <input type="text" name="date" placeholder="Введите дату" />
            <input type="text" name="status" placeholder="Тэг">
            <input type="text" name="originator" placeholder="Originator">
            <input type="text" name="type" placeholder="Type">
            <input type="text" name="mass" placeholder="Mass">
            <input type="text" name="deadline" placeholder="Deadline">
            <input type="text" name="objective" placeholder="Objective">
            <input type="text" name="comments" placeholder="Comments">
            <button type="submit">Добавить</button>
        </form>
    </div>
        {{#requests}}
    <div>
            <b>{{id}}</b>
            <span>{{date}}</span>
            <span>{{status}}</span>
            <span>{{originator}}</span>
            <span>{{type}}</span>
            <span>{{mass}}</span>
            <span>{{deadline}}</span>
            <span>{{objective}}</span>
            <span>{{comments}}</span>
    </div>
        {{/requests}}
</body>
</html>



