<html>

<body>
    <div>Requests</div>
    {{requests}}
    <div>
        <b>{{id}}</b>
        <span>{{date}}</span>
        <span>{{status}}</span>
        <span>{{originator}}</span>
        <span>{{type}}</span>
        <span>{{mass}}</span>
        <span>{{deadline}}</span>
        <span>{{objective}}</span>
        <span>{{comments}}</span>
    </div>
</body>
</html>